@model Jarvis.Models.FRD
@{
    ViewBag.Title = "Approve";
}

<h2>Approve FRD</h2>

<div>
    <hr />
    @*<dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.User.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.UserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.User.Department.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.Department.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.User.Department.Manager.Id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.Department.Manager.Id)
            </dd>
        </dl>*@

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <h4>Addition Message.</h4>
        <hr />       
        <div class="form-group">
            @Html.Label("Message", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextArea("Message", new { @class = "form-control" })
                @Html.ValidationMessage("Message")
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Send" />
            </div>
        </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }


</div>

@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@

@*<p>@Html.ActionLink("Approve","Sent", "Frd")</p>*@
