@model Jarvis.Models.FRD
@{
    ViewBag.Title = "Confirm";
}

<h2>Confirm</h2>

<h2 class="text-center">Kibris Turkcell</h2>

<table class="table table-bordered table-hover">

    <tr>
        <th>FRD Number</th>
        <td>@Model.ReferenceNumber</td>
    </tr>
    <tr>
        <th>Package Name</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Date Created</th>
        <td>@Model.CreationDate.ToLongDateString()</td>
    </tr>
    <tr>
        <th>Demand Owner</th>
        <td>@Model.User.Email</td>
    </tr>
    <tr>
        <th>Approved</th>
        <td>@Model.isApproved</td>
    </tr>
</table>

<div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ReferenceNumber)
        @Html.HiddenFor(model => model.Name)
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.CreationDate)
        @Html.HiddenFor(model => model.isApproved)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-success status" value="True">Approve</button>
                <button type="submit" class="btn btn-danger status" value="False">Deny</button>
            </div>
        </div>
    }

    @section Scripts {
        <script>

            $(function () {

                $('.status').on('click', function () {

                    var status = ($(this).val() === 'True');
                    $('#isApproved').val(status);

                })

            })

        </script>
    }


</div>

