@model Jarvis.Models.FRD
@{
    ViewBag.Title = "Confirm";
}

<h2>Confirm</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

    </dl>
</div>

<div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Name)
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.isApproved)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-success status" value="True">Approve</button>
                <button type="submit" class="btn btn-danger status"  value="False">Deny</button>
            </div>
        </div>
    }

    @section Scripts {
        <script>

    $(function () {

        $('.status').on('click', function () {

            var status = ($(this).val() === 'True');
            $('#isApproved').val(status);    

        })

    })

        </script>
    }


</div>

