@model Jarvis.Models.FRD
@{
    ViewBag.Title = "Details";
}


<div>

    <hr />

    <h2 class="text-center">Kibris Turkcell</h2>

    <table class="table table-bordered table-hover">

        <tr>
            <th>FRD Number</th>
            <td>@Model.ReferenceNumber</td>
        </tr>
        <tr>
            <th>Package Name</th>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <th>Date Created</th>
            <td>@Model.CreationDate.ToLongDateString()</td>
        </tr>
        <tr>
            <th>Demand Owner</th>
            <td>@Model.User.Email</td>
        </tr>
        <tr>
            <th>Approved</th>
            <td>@Model.isApproved</td>
        </tr>
    </table>
    @using (Html.BeginForm("Approve", "FRD"))
    {
        @Html.AntiForgeryToken()

        <input type="hidden" id="FrdId" name="FrdId" value="@Model.Id" />

        <input type="hidden" id="DemandOwnerEmail" name="DemandOwnerEmail" value="@Model.User.Email" />

        <input type="hidden" id="UserId" name="UserId" value="@Model.UserId" />

        <input type="hidden" id="FrdName" name="FrdName" value="@Model.Name" />

        <input type="hidden" id="ManagerID" name="ManagerID" value="@Model.User.Department.Manager.UserId" />

        <button type="submit" class="btn btn-primary">Approve</button>
    }
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>