@model IEnumerable<Jarvis.Models.FRD>
@{
    ViewBag.Title = "Index";
}

<h2>FRD List</h2>

@if (!Model.Any())
{
    <p>There are no FRD's Available</p>
}

else
{
    <table id="frds" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Request Id</th>
                <th>Request Name</th>
                <th>Demand Owner</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var frd in Model)
            {
                <tr>
                    <td>@frd.ReferenceNumber</td>
                    <td> @Html.ActionLink(@frd.Name, "Details", "FRD", new { id = frd.Id }, null) </td>
                    <td>@frd.User.UserName</td>
                    <td>
                        <button data-frd-id="@frd.Id"  class="btn-link js-delete">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section scripts
{
    <script>
       $(function () {

           $('#frds').on('click', '.js-delete', function () {
               var button = $(this);

               bootbox.confirm("Are you sure you want to delete this FRD?", function (result) {
                   if (result) {

                       //var body = {
                       //    grant_type: 'password',
                       //    username: 'admin@jarvis.com',
                       //    password: 'Qwerty@1234'
                       //};

                       //$.ajax({
                       //    url: '/Token',
                       //    type: 'POST',
                       //    dataType: 'json',
                       //    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                       //    data: body,
                       //    success: function (result) {
                       //        console.log(result);
                       //        $.ajax({
                       //            url: "/api/frds/" + button.attr("data-frd-id"),
                       //            method: "DELETE",
                       //            headers: {
                       //               authorization: 'Bearer ' + result.access_token
                       //          },
                       //            success: function () {
                       //                button.parents("tr").remove();
                       //            }

                       //        })
                       //   }
                       //});

                               $.ajax({
                                   url: "/api/frds/" + button.attr("data-frd-id"),
                                   method: "DELETE",
                                   success: function () {
                                       button.parents("tr").remove();
                                   }

                               })

                   }
               })
           })

       })
    </script>
}